.navigation_bar 
{
    overflow: hidden;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    width: 100%;
    top: 0px;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.navigation
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navigation a
{
    float: left;
    color: #FEFAE0;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    padding: 14px 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
}

.navigation a:hover, 
.navigation a.active
{
    color: #FEFAE0;
    background: #505B39;
    border-radius: 25px;
    transition: box-shadow 0.2s;
}

.navigation a:hover
{
    opacity: 0.8;
    box-shadow: 0px 5px 10px rgba(165, 156, 156, 0.8);
}

.navigation input[type=text] {
    float: right;
    padding: 15px;
    border: none;
    margin-top: 17px;
    margin-right: 16px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 15px;
    border-radius: 25px;
    background: #73AD21;
    width: 150x;
    height: 1px;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }  

body {
    background-color:#FEFAE0;
}

.welcome_aboutus{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 325px;
  text-align: center;
}

.welcome {
  color: #798645;
    letter-spacing: .05em;
    text-shadow: 
        4px 4px 0px #aca4a4, 
        7px 7px 0px rgba(165, 156, 156, 0.2);
    font-size:2.3em;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-variant: small-caps;
    -webkit-animation: shift 2s ;
    animation: shift 2s ;
    margin-top:0px;
    text-align:center;
}


.text{
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 7em;
  color: #e0dbb7; 
  letter-spacing: .05em;
  text-shadow: 
      4px 4px 0px #aca4a4, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-variant: small-caps;
  -webkit-animation: shift 2s ;
  animation: shift 2s ;
  text-align:center;
  padding-bottom: 120px;
}

.tagline{
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  color: #e0dbb7; 
  letter-spacing: .05em;
  text-shadow: 
      1.33px 1.33px 0px #aca4a4, 
      2.33px 2.33px 0px rgba(0, 0, 0, 0.2);
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  -webkit-animation: appear 3.2s ;
  animation: appear 3.2s ;
  text-align:center;
  padding-top: 80px;
}

@keyframes shift {
0% {opacity:0;}
33% {margin-top:125px;opacity:0;}
100% {margin-top:0px;opacity:1;text-shadow: 
4px 4px 0px #aca4a4, 
7px 7px 0px rgba(165, 156, 156, 0.2);}
}

@keyframes appear {
0% {opacity:0;}
50% {opacity:0;}
100% {opacity:1;}
}

.promo {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
background: rgba(0, 0, 0, 0.6);
color: white;
position: relative;
overflow: hidden;
min-height: 100vh;
}

.video-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@keyframes shift {
  0% {opacity:0;}
  33% {margin-top:125px;opacity:0;}
  100% {margin-top:0px;opacity:1;text-shadow: 
  4px 4px 0px #aca4a4, 
  7px 7px 0px rgba(165, 156, 156, 0.2);}
}

@keyframes appear {
  0% {opacity:0;}
  50% {opacity:0;}
  100% {opacity:1;}
}

.tree_animation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 1000px;
  margin-bottom: 100px;
  text-align: center;
  background-color: #FEFAE0;
}

.tree {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaves,
.wood {
    height: 50%;
}

.leaves {
  width: 100%;
  position: relative;
  transform: translateY(40px);
  z-index: 1;
}

.wood {
  width: 40px;
  background-color: #7c3b10;
  position: relative;
}

.wood::before,
.wood::after {
  position: absolute;
  content: "";
  background-color: #924715;
  width: 40px;
  height: 60px;
}

.wood::before {
  top: -50px;
  left: -5px;
  transform-origin: right bottom;
  transform: rotateZ(-30deg);
}

.wood::after {
  top: -60px;
  left: 5px;
  transform-origin: left bottom;
  transform: rotateZ(30deg);
}

.leaf {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  transform: scale(0);
  transition: transform 0.5s;
}

#one {
  background-color: #798645;
  top: -15px;
  left: 25%;
}

#two {
  background-color: #5c6b26;
  bottom: 0;
  left: 5%;
}

#three {
  background-color: #535e2a;
  bottom: 0;
  right: 5%;
}

.leaf::before {
  width: 20px;
  height: 20px;
  position: absolute;
  content: "";
  background-color: #ff002b;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 30%) scale(0);
  transition: transform 0.3s;
}

.tree:hover .leaf {
  transform: scale(1);
}

.tree:hover #one {
  transition-delay: 0.4s;
}

.tree:hover #two {
  transition-delay: 0.2s;
}

.tree:hover #three {
  transition-delay: 0s;
}

.tree:hover .leaf::before {
  transform: translate(-50%, 30%) scale(1);
  transition-delay: 0.6s;
}

.we_plant {
  color: #798645;
    letter-spacing: .05em;
    font-size:2.3em;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-variant: small-caps;
    margin-top:0px;
    text-align:center;
}

.counterContainer {
  text-align: center;
}

.tree_animation h2 {
  color: #798645;
  letter-spacing: .05em;
  font-size:2.3em;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-variant: small-caps;
  margin-top:0px;
  text-align:center;
}

.tree_animation span {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 9.5rem;
  font-weight: bold;
}

.main-footer {
  padding: 70px 0;
  display: flex;
  justify-content: space-evenly;
  background-color: #19302E;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.main-footer ul {
  list-style: none;
}

.main-footer h1 {
  font-size: 22px;
  line-height: 117%;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 500;
}

.main-footer h2 {
  color: #ffffff;
  font-weight: 500;
}

.main-footer ul li a {
  color: #ffffffcc;
  text-decoration:none;
}

footer {
  background-color: #19302E;
  border-top: 1px solid #6EB981;
  font-size: 17px;
  padding: 15px 5px;
  color: #ffffff;
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

.logoinfo p {
  color: #6EB981;
  font-size: 17px;
  margin-top: 5px;
}

.contact-details {
  margin-top: 20px;
}

.contact-details li {
  list-style: none;
  margin: 10px 0;
}

.contact-details li a {
  text-decoration:none;
  color: #f1f1f1;
}

.contact-details .fa {
  color: #f1f1f1;
  margin-right: 10px;
}

.sociallogos{
  padding:20px 0;
}

.sociallogos .logobox a{
  padding:0 10px;
  text-decoration:none;
  color:#ffffff;
  font-size:22px;
}

.com ul li{
  padding:5px 0;
}

@media only screen and (max-width: 749px) {
  .main-footer {
    padding:20px;
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
    .info{
      padding:20px 0;
  }
}

@media (max-width: 480px) {
  .main-footer {
    grid-template-columns: 1fr;
  }
  .sociallogos{
    padding:20px 0;
  }
  .com{
    padding:20px 0;
  } 

}

.about_eden {
  display: flex;
  justify-content: space-around;
  height: 1000px;
  background-color: #19302E;
}

.about_eden_image {
  width: 3000px;
  border-radius: 30px;
  margin-top: 175px;
  margin-left: 75px;
  margin-bottom: 75px;
  height: 650px;
  padding: 10px;
  display: inline-block;
}

.about_eden_desc {
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 175px;
  margin-bottom: 75px;
  text-align: justify;
  text-justify: inter-word;
}

.about_eden_desc h1 {
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 50px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 80px;
  font-weight: bold;
  line-height: 117%;
  color: #f1f1f1;
}

.about_eden_desc p {
  text-align: justify;
  text-justify: inter-word;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 20px;
  line-height: 117%;
  max-width: 300rem;
  color: #f1f1f1;
}

.about_howwehelp {
  display: flex;
  justify-content: space-around;
  height: 1000px;
  background-color: #FEFAE0;
}

.about_howwehelp_image {
  width: 1900px;
  border-radius: 30px;
  margin-top: 175px;
  margin-right: 75px;
  margin-bottom: 75px;
  height: 650px;
  padding: 10px;
  display: inline-block;
}

.about_howwehelp_desc {
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 125px;
  margin-bottom: 75px;
  text-align: justify;
  text-justify: inter-word;
}

.about_howwehelp_desc h1 {
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 50px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 80px;
  font-weight: bold;
  line-height: 117%;
  color: #798645;
}

.about_howwehelp_desc p {
  text-align: justify;
  text-justify: inter-word;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 20px;
  line-height: 117%;
  max-width: 300rem;
  color: #798645;
}

.about_owners_header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #19302E;
}

.about_owners_header h1 {
  margin-top: 30px;
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 80px;
  font-weight: bold;
  line-height: 117%;
  color: #f1f1f1;
}

.about_owners {
  display: flex;
  justify-content: space-between;
  height: 800px;
  background-color: #19302E;
}

.about_owners h4 {
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 117%;
  max-width: 300rem;
  color: #f1f1f1;
}

.about_owners p {
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 20px;
  line-height: 117%;
  max-width: 25rem;
  color: #f1f1f1;
}

.about_owners_dass h4 {
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 30px;
  margin-left: 75px;
  font-weight: bold;
  line-height: 117%;
  max-width: 300rem;
  color: #f1f1f1;
}

.about_owners_dass p {
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 20px;
  margin-left: 75px;
  line-height: 117%;
  max-width: 25rem;
  color: #f1f1f1;
}

.about_owners_masangya h4 {
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 30px;
  margin-right: 75px;
  font-weight: bold;
  line-height: 117%;
  max-width: 300rem;
  color: #f1f1f1;
}

.about_owners_masangya p {
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 20px;
  margin-right: 75px;
  line-height: 117%;
  max-width: 25rem;
  color: #f1f1f1;
}

.about_owners_dass img {
  width: 400px;
  border-radius: 30px;
  margin-top: 15px;
  margin-left: 75px;
  margin-bottom: 20px;
  height: 400px;
  padding: 10px;
  display: inline-block;
}

.about_owners_francisco img {
  width: 400px;
  border-radius: 30px;
  margin-top: 15px;
  margin-bottom: 20px;
  height: 400px;
  padding: 10px;
  display: inline-block;
}

.about_owners_manzano img {
  width: 400px;
  border-radius: 30px;
  margin-top: 15px;
  margin-bottom: 20px;
  height: 400px;
  padding: 10px;
  display: inline-block;
}

.about_owners_masangya img {
  width: 400px;
  border-radius: 30px;
  margin-top: 15px;
  margin-right: 75px;
  margin-bottom: 20px;
  height: 400px;
  padding: 10px;
  display: inline-block;
}

.location {
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 530px;
  text-align: center;
}

.location_overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.location h1 {
  margin-top: 250px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 117%;
  color: #dfdede;
  margin-bottom: 10px;
  font-weight: 500;
}