
.navigation_bar 
{
    overflow: hidden;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    width: 100%;
    top: 0px;
}

.Absolute
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.navigation
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navigation a
{
    float: left;
    color: #FEFAE0;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    padding: 14px 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
}

.navigation a:hover, 
.navigation a.active
{
    color: #FEFAE0;
    background: #505B39;
    border-radius: 25px;
    transition: box-shadow 0.2s;
}

.navigation a:hover
{
    opacity: 0.8;
    box-shadow: 0px 5px 10px rgba(165, 156, 156, 0.8);
}

.navigation input[type=text] {
    float: right;
    padding: 15px;
    border: none;
    margin-top: 17px;
    margin-right: 16px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 15px;
    border-radius: 25px;
    background: #73AD21;
    width: 150x;
    height: 1px;
  }

  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FEFAE0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

.welcome_eventservices{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 325px;
    text-align: center;
  }

  .text{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 7em;
    color: #e0dbb7; 
    letter-spacing: .05em;
    text-shadow: 
        4px 4px 0px #aca4a4, 
        7px 7px 0px rgba(0, 0, 0, 0.2);
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-variant: small-caps;
    -webkit-animation: shift 2s ;
    animation: shift 2s ;
    text-align:center;
    padding-bottom: 120px;
}

.tagline{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    color: #e0dbb7; 
    letter-spacing: .05em;
    text-shadow: 
        1.33px 1.33px 0px #aca4a4, 
        2.33px 2.33px 0px rgba(0, 0, 0, 0.2);
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    -webkit-animation: appear 3.2s ;
    animation: appear 3.2s ;
    text-align:center;
    padding-top: 80px;
}

@keyframes shift {
  0% {opacity:0;}
  33% {margin-top:125px;opacity:0;}
  100% {margin-top:0px;opacity:1;text-shadow: 
  4px 4px 0px #aca4a4, 
  7px 7px 0px rgba(165, 156, 156, 0.2);}
}

@keyframes appear {
  0% {opacity:0;}
  50% {opacity:0;}
  100% {opacity:1;}
}

.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.video-bg {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.tiles {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    margin: -2.5em 0 0 -2.5em;
    margin-top: 25px;
    margin-left: 300px;
    margin-right: 340px;
    margin-bottom: 100px;
}

.tiles article {
    -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    width: calc(33.33333% - 2.5em);
    margin: 2.5em 0 0 2.5em;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

    .tiles article > .image {
        -moz-transition: -moz-transform 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease;
        transition: transform 0.5s ease;
        position: relative;
        display: block;
        width: 375px;
        height: 380px;
        border-radius: 4px;
        overflow: hidden;
    }

        .tiles article > .image img {
            display: block;
            width: 375px;
        height: 380px;
        }

        .tiles article > .image:before {
            pointer-events: none;
            -moz-transition: background-color 0.5s ease, opacity 0.5s ease;
            -webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
            -ms-transition: background-color 0.5s ease, opacity 0.5s ease;
            transition: background-color 0.5s ease, opacity 0.5s ease;
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 375px;
        height: 380px;
            opacity: 1.0;
            z-index: 1;
            opacity: 0.8;
        }

        .tiles article > .image:after {
            pointer-events: none;
            -moz-transition: opacity 0.5s ease;
            -webkit-transition: opacity 0.5s ease;
            -ms-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease;
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 375px;
        height: 380px;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            opacity: 0.25;
            z-index: 2;
        }

    .tiles article > .b {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
        -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
        -ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
        transition: background-color 0.5s ease, transform 0.5s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1em;
        border-radius: 4px;
        border-bottom: 0;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        z-index: 3;
    }

        .tiles article > .b > :last-child {
            margin: 0;
        }

        .tiles article > .b:hover {
            color: #ffffff !important;
        }

        .tiles article > .b h2 {
            margin: 0;
        }

        .tiles article > .b .content {
            -moz-transition: max-height 0.5s ease, opacity 0.5s ease;
            -webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
            -ms-transition: max-height 0.5s ease, opacity 0.5s ease;
            transition: max-height 0.5s ease, opacity 0.5s ease;
            width: 100%;
            max-height: 0;
            line-height: 1.5;
            margin-top: 0.35em;
            opacity: 0;
        }

            .tiles article > b .content > :last-child {
                margin-bottom: 0;
            }

    .tiles article.style1 > .image:before {
        background-color: #66742c;
    }

    .tiles article.style2 > .image:before {
        background-color: #787927;
    }

    .tiles article.style3 > .image:before {
        background-color: #727c1a;
    }

    .tiles article.style4 > .image:before {
        background-color: #5b6129;
    }

    .tiles article.style5 > .image:before {
        background-color: #949e5d;
    }

    .tiles article.style6 > .image:before {
        background-color: #7d8840;
    }

    body:not(.is-touch) .tiles article:hover > .image {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

        body:not(.is-touch) .tiles article:hover > .image:before {
            background-color: #333333;
            opacity: 0.35;
        }

        body:not(.is-touch) .tiles article:hover > .image:after {
            opacity: 0;
        }

    body:not(.is-touch) .tiles article:hover .content {
        max-height: 15em;
        opacity: 1;
    }

* + .tiles {
    margin-top: 2em;
}

body.is-preload .tiles article {
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
}

body.is-touch .tiles article .content {
    max-height: 15em;
    opacity: 1;
}

@media screen and (max-width: 1280px) {

    .tiles {
        margin: -1.25em 0 0 -1.25em;
    }

        .tiles article {
            width: calc(33.33333% - 1.25em);
            margin: 1.25em 0 0 1.25em;
        }

}

@media screen and (max-width: 980px) {

    .tiles {
        margin: -2.5em 0 0 -2.5em;
    }

        .tiles article {
            width: calc(50% - 2.5em);
            margin: 2.5em 0 0 2.5em;
        }

}

@media screen and (max-width: 736px) {

    .tiles {
        margin: -1.25em 0 0 -1.25em;
    }

        .tiles article {
            width: calc(50% - 1.25em);
            margin: 1.25em 0 0 1.25em;
        }

            .tiles article:hover > .image {
                -moz-transform: scale(1.0);
                -webkit-transform: scale(1.0);
                -ms-transform: scale(1.0);
                transform: scale(1.0);
            }

}

@media screen and (max-width: 480px) {

    .tiles {
        margin: 0;
    }

        .tiles article {
            width: 100%;
            margin: 1.25em 0 0 0;
        }

}

.main-footer {
    padding: 70px 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #19302E;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  }
  
  .main-footer ul {
    list-style: none;
  }
  
  .main-footer h1 {
    font-size: 22px;
    line-height: 117%;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 500;
  }
  
  .main-footer h2 {
    color: #ffffff;
    font-weight: 500;
  }
  
  .main-footer ul li a {
    color: #ffffffcc;
    text-decoration:none;
  }
  
  footer {
    background-color: #19302E;
    border-top: 1px solid #6EB981;
    font-size: 17px;
    padding: 15px 5px;
    color: #ffffff;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  }
  
  footer a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .logoinfo p {
    color: #6EB981;
    font-size: 17px;
    margin-top: 5px;
  }
  
  .contact-details {
    margin-top: 20px;
  }
  
  .contact-details li {
    list-style: none;
    margin: 10px 0;
  }
  
  .contact-details li a {
    text-decoration:none;
    color: #f1f1f1;
  }
  
  .contact-details .fa {
    color: #f1f1f1;
    margin-right: 10px;
  }
  
  .sociallogos{
    padding:20px 0;
  }
  
  .sociallogos .logobox a{
    padding:0 10px;
    text-decoration:none;
    color:#ffffff;
    font-size:22px;
  }
  
  .com ul li{
    padding:5px 0;
  }
  
  @media only screen and (max-width: 749px) {
    .main-footer {
      padding:20px;
      display:grid;
      grid-template-columns: 1fr 1fr;
    }
      .info{
        padding:20px 0;
    }
  }
  
  @media (max-width: 480px) {
    .main-footer {
      grid-template-columns: 1fr;
    }
    .sociallogos{
      padding:20px 0;
    }
    .com{
      padding:20px 0;
    } 
  
  }
#my-div {
    width: 100px;
    height: 100px;
}
a.fill-div {
    color: white;
    display: block;
    height: 100%;
    width: 100%;  
    text-decoration: none;
    display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
        -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
        -ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
        transition: background-color 0.5s ease, transform 0.5s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 1em;
        border-radius: 4px;
        border-bottom: 0;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        z-index: 3;
}

#popup
{
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  z-index: 10;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
  background: #FEFAE0;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  width: 1000px;
  margin: 100px auto;
  display: flex;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border-radius: 30px;
  margin-top: 10px;
}

.popup .left {
  width: 50%;
  padding-right: 20px;
  border-right: 1px solid #ccc;
}
.popup .right {
  width: 50%;
  padding-left: 20px;
}

.right h2 {
  color: #798645;
  margin-bottom: 5px;
}

.popup img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

#previewImage {
  margin-top: 142px;
  margin-right: 20px;
  width: 500px;
  height: 400px;
  border-radius: 20px;
}

select, input, button {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  width: 100%;
  border-radius: 20px;
  border: none;
  padding: 8px;
  margin: 10px 0;
}

button[type=submit] {
  margin-top: 10px;
  margin-bottom: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 20px;
  border: none;
  background-color: #798645;
  color:#FEFAE0;
  font-weight: bold;
  font-size: 15px;
  transition: box-shadow 0.2s; 
  cursor: pointer;
}

button[type=submit] a {
  color:#FEFAE0;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  }

button[type=submit]:hover {
  opacity: 0.8;
  box-shadow: 0px 5px 10px rgba(165, 156, 156, 0.8);
}

.right a {
  color: #19302E;
  text-decoration: underline;
  display: block;
}

.filler {
  background-image: linear-gradient(rgb(22, 21, 21), rgba(255, 255, 255, 0));
  height: 100px;
}

#popup.active
{
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  top: 50%;
}

#blur.active,
#blur1.active,
#blur2.active,
#blur3.active
{
  filter: blur(10px);
  user-select: none;
  pointer-events: none;
}