.navigation_bar 
{
    overflow: hidden;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    width: 100%;
    top: 0px;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.navigation
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navigation a
{
    float: left;
    color: #FEFAE0;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    padding: 14px 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
}

.navigation a:hover, 
.navigation a.active
{
    color: #FEFAE0;
    background: #505B39;
    border-radius: 25px;
    transition: box-shadow 0.2s;
}

.navigation a:hover
{
    opacity: 0.8;
    box-shadow: 0px 5px 10px rgba(165, 156, 156, 0.8);
}

.navigation input[type=text] {
    float: right;
    padding: 15px;
    border: none;
    margin-top: 17px;
    margin-right: 16px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 15px;
    border-radius: 25px;
    background: #73AD21;
    width: 150x;
    height: 1px;
  }

  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#8e9b5b;
}

.welcome_joblistings{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 325px;
    text-align: center;
  }

.welcome {
    color: #798645;
    letter-spacing: .05em;
    text-shadow: 
        4px 4px 0px #aca4a4, 
        7px 7px 0px rgba(165, 156, 156, 0.2);
    font-size:2.3em;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-variant: small-caps;
    -webkit-animation: shift 2s ;
    animation: shift 2s ;
    margin-top:0px;
    text-align:center;
}


.text{
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 7em;
  color: #e0dbb7; 
  letter-spacing: .05em;
  text-shadow: 
      4px 4px 0px #aca4a4, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-variant: small-caps;
  -webkit-animation: shift 2s ;
  animation: shift 2s ;
  text-align:center;
  padding-bottom: 120px;
}

.tagline{
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  color: #e0dbb7; 
  letter-spacing: .05em;
  text-shadow: 
      1.33px 1.33px 0px #aca4a4, 
      2.33px 2.33px 0px rgba(0, 0, 0, 0.2);
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  -webkit-animation: appear 3.2s ;
  animation: appear 3.2s ;
  text-align:center;
  padding-top: 80px;
}

@keyframes shift {
0% {opacity:0;}
33% {margin-top:125px;opacity:0;}
100% {margin-top:0px;opacity:1;text-shadow: 
4px 4px 0px #aca4a4, 
7px 7px 0px rgba(165, 156, 156, 0.2);}
}

@keyframes appear {
0% {opacity:0;}
50% {opacity:0;}
100% {opacity:1;}
}

.promo {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
background: rgba(0, 0, 0, 0.6);
color: white;
position: relative;
overflow: hidden;
min-height: 100vh;
}

.video-bg {
position: absolute;
z-index: -1;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
min-width: 100%;
min-height: 100%;
}

.filler {
  background-color: #798645;
  padding-top: 5px;
  padding-left: 8px;
  height: 40px;
}

.search-bar {
  margin-left: 1243px;
}

.section {
    padding: 350px;
    text-align: center;
}

.Services-We-Offer {
    display: flex;
    padding: 350px;
    gap: 20px;
    z-index: -1;
}

.left-content {
    width: 40%;
    padding: 20px;
    background-color: #d9e2a9;
}

.right-content {
    width: 60%;
    padding: 20px;
    background-color: #bfcf8a;
}

#job-list {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px 300px;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Century Gothic', Courier, monospace;
  font-size: 15px;
}

#job-search {
  border-radius: 20px;
  height: 30px;
  width: 200px;
  padding-left: 5px;
  font-family: 'Century Gothic', Courier, monospace;
  font-size: 15px;
  color: #4f5a22;
  background-color: #FEFAE0;
}

.job-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  background-color: #FEFAE0;
  -webkit-animation: job 0.5s ;
  animation: job 0.5s ;
}

.job-card:hover {
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.job-card img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    margin-top: 20px;
}

.job-card h3 {
    font-family: 'Century Gothic', Courier, monospace;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #4f5a22;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 250px;
}

.job-card p {
    font-family: 'Century Gothic', Courier, monospace;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #4f5a22;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 250px;
}

.apply-btn
{
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 20px;
    border: none;
    background-color: #798645;
    color:#d9e2a9;
    font-weight: bold;
    font-size: 15px;
    transition: box-shadow 0.2s; 
    cursor: pointer;
}

.apply-btn a {
  color:#d9e2a9;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none
}

.apply-btn:hover
{
    opacity: 0.8;
    box-shadow: 0px 5px 10px rgba(165, 156, 156, 0.8);
}

@keyframes job {
   0% {opacity:0;}
  33% {margin-top:125px;opacity:0;}
  100% {margin-top:0px;opacity:1;}
}

@media(max-width: 1200px)
{
    .job-list
    {
        display: grid;
        grid-template-columns: 300px 300px 300px;
        column-gap: 30px;
        row-gap: 30px;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .split-section {
        flex-direction: column;
    }
    .left-content, .right-content {
        width: 100%;
    }
}

@keyframes shift {
    0% {opacity:0;}
    33% {margin-top:125px;opacity:0;}
    100% {margin-top:0px;opacity:1;text-shadow: 
    4px 4px 0px #aca4a4, 
    7px 7px 0px rgba(165, 156, 156, 0.2);}
}

@keyframes appear {
    0% {opacity:0;}
    50% {opacity:0;}
    100% {opacity:1;}
}

    #apply-modal {
      display: none; 
      position: fixed; 
      z-index: 1000; 
      left: 0; top: 0; 
      width: 100%; height: 100%; 
      background-color: rgba(0,0,0,0.5);
    }
    #apply-modal .modal-content {
      background-color: #FEFAE0;
      margin: 10% auto;
      padding: 20px;
      width: 400px;
      border-radius: 5px;
      position: relative;
      border-radius: 20px;
      font-family: 'Century Gothic', Courier, monospace;
      font-size: 14px;
      color: #4f5a22;
      -webkit-animation: appear 0.6s ;
      animation: appear 0.6s ;
    }
    #apply-modal .close-btn {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
      font-weight: bold;
      font-size: 18px;
    }
    #modal-close {
      color: #19302E;
      text-decoration: underline;
    }
    #apply-form label {
      font-family: 'Century Gothic', Courier, monospace;
      font-size: 14px;
      display: block;
      margin-top: 10px;
    }
    #apply-form input[type="text"],
    #apply-form input[type="email"],
    #apply-form input[type="file"] {
      width: 100%;
      padding: 6px;
      margin-top: 5px;
      font-family: 'Century Gothic', Courier, monospace;
      font-size: 14px;
      border-radius: 10px;
      background-color: #FEFAE0;
    }
    #apply-form button {
    justify-content: center;
    width: 360px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 20px;
    border: none;
    background-color: #798645;
    color:#d9e2a9;
    font-weight: bold;
    font-size: 15px;
    transition: box-shadow 0.2s; 
    cursor: pointer;
    }
    #apply-form button:hover
    {
    opacity: 0.8;
    box-shadow: 0px 5px 10px rgba(165, 156, 156, 0.8);
    }

.main-footer {
    padding: 70px 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #19302E;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  }
  
  .main-footer ul {
    list-style: none;
  }
  
  .main-footer h1 {
    font-size: 22px;
    line-height: 117%;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 500;
  }
  
  .main-footer h2 {
    color: #ffffff;
    font-weight: 500;
  }
  
  .main-footer ul li a {
    color: #ffffffcc;
    text-decoration:none;
  }
  
  footer {
    background-color: #19302E;
    border-top: 1px solid #6EB981;
    font-size: 17px;
    padding: 15px 5px;
    color: #ffffff;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  }
  
  footer a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .logoinfo p {
    color: #6EB981;
    font-size: 17px;
    margin-top: 5px;
  }
  
  .contact-details {
    margin-top: 20px;
  }
  
  .contact-details li {
    list-style: none;
    margin: 10px 0;
  }
  
  .contact-details li a {
    text-decoration:none;
    color: #f1f1f1;
  }
  
  .contact-details .fa {
    color: #f1f1f1;
    margin-right: 10px;
  }
  
  .sociallogos{
    padding:20px 0;
  }
  
  .sociallogos .logobox a{
    padding:0 10px;
    text-decoration:none;
    color:#ffffff;
    font-size:22px;
  }
  
  .com ul li{
    padding:5px 0;
  }

 @media only screen and (max-width: 749px) {
    .main-footer {
      padding:20px;
      display:grid;
      grid-template-columns: 1fr 1fr;
    }
      .info{
        padding:20px 0;
    }
  }
  
  @media (max-width: 480px) {
    .main-footer {
      grid-template-columns: 1fr;
    }
    .sociallogos{
      padding:20px 0;
    }
    .com{
      padding:20px 0;
    } 
  
  }